server:
  port: 9090
spring:
  datasource:
    url: jdbc:postgresql://localhost:6542/ewm-stats
    username: ewm
    password: ewm
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      write-dates-as-timestamps: false


